.card{
    background:white;
    border-radius:12px;
    padding:20px;
    width:250px;
    box-shadow:0 3px 12px rgba(0,0,0,.08);
    transition:.3s;
}

.card:hover{
    transform:translateY(-5px);
}

.card h3{
    color:#666;
    margin-bottom:10px;
}

.card h1{
    color:#2563eb;
    font-size:40px;
}