.navbar {
    height: 70px;
    background: #F6FAFD;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0 2px 10px rgba(0,0,0,.08);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.left{
    display:flex;
    align-items:center;
    gap:20px;
}

.menu-icon{
    font-size:24px;
    cursor:pointer;
}

.right{
    display:flex;
    align-items:center;
    gap:20px;
}

.search{
    width:250px;
    padding:10px;
    border:none;
    background:#B3CFE5;
    border-radius:8px;
}

.icon{
    font-size:20px;
    cursor:pointer;
}

.profile{
    display:flex;
    align-items:center;
    gap:8px;
    cursor:pointer;
}

.profile-icon{
    font-size:32px;
}